:root {
    --primary-color: #1d4189;
    --accent-color: #ff9800;
    --secondary-color: #4497cb;
    --slight-secondary-color: radial-gradient(circle at top left, #F0F4F8, #D9E2EC);
    --text-color: #333;
    --background-color: #ffffff;
    --silver-color: #f4f6f8;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f6f8; /* A slightly off-white for better component visibility */
    color: #333;
    margin: 0;
}

#root { 
    position: relative;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #1d4189;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 1.5rem;
}

.text-custom-color-primary {
    color: var(--primary-color) !important;
}
.text-custom-color-secondary {
    color: var(--secondary-color) !important;
}
.text-custom-color-accent {
    color: var(--accent-color) !important;
}

.bg-custom-color-primary {
    background-color: var(--primary-color) !important;
}
.bg-custom-color-secondary {
    background-color: var(--secondary-color) !important;
}
.bg-custom-color-accent {
    background-color: var(--accent-color) !important;
}

.button {
    font-family: "Poppins", sans-serif;
    background: transparent;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    text-decoration: none;
}
.button:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.button:disabled,
.button[disabled] {
    background-color: #cccccc;
    color: #666666 !important;
    cursor: not-allowed;
    box-shadow: none;
}

.button-primary {
    background-color: var(--primary-color);
    color: #ffffff !important;
    text-decoration: none;
}
.button-accent {
    background-color: var(--accent-color);
    color: #ffffff !important;
    text-decoration: none;
}

.button-secondary {
    background-color: var(--secondary-color);
    color: #ffffff !important;
    text-decoration: none;
}

.button-light {
    background-color: #f4f6f8;
    color: var(--primary-color) !important;
    text-decoration: none;
}

.button-outline {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color) !important;
    text-decoration: none;
}
.button-outline:hover {
    background-color: var(--primary-color);
    color: #ffffff !important;
}
.button-fw-small {
    min-width: 80px;
    text-align: center;
    text-justify: auto;
    padding: 8px 12px;
    font-size: 0.875rem;
}
.button-fw-medium {
    width: 150px;
    padding: 10px 16px;
    font-size: 1rem;
}
.button-fw-large {
    width: 200px;
    padding: 12px 24px;
    font-size: 1.125rem;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.card h3 {
    margin-top: 0;
    color: #1d4189;
}

/* Page Layout */
.header {
    /* background-color: #1d4189; */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.header h1 {
    font-size: 1.75rem;
    margin: 0;
    color: #ffffff;
}

.header-public {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* background-color: var(--background-color); */
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--primary-color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* .nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 500;
} */

/* override nav-item0 */
.nav-item {
    margin-right: 0.5rem;
    color: #1d4189 !important;
}

.main-container {
    display: flex;
}

.section {
    padding: 2rem;
    background-color: #f4f6f8;
    min-height: calc(50vh - 70px); /* Full height minus header */
}

.section h2 {
    margin-top: 0;
    font-size: 2.05rem;
    color: #1d4189;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.section h5 {
    font-size: 1.25rem;
    color: #1d4189;
    margin-bottom: 1rem;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.service-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.about-section {
    display: flex;
    align-items: start;
    gap: 3rem;
    text-align: left
}

.page-view {
    flex-grow: 1;
    padding: 0px;
    overflow-y: auto;
    height: calc(100vh - 100px); /* Full height minus header */
}

.content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    height: calc(100vh - 70px);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #eee;
}
.list-item:last-child {
    border-bottom: none;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.stat-card {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-5px);
}
.logout-button {
    background: red;
    border: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    /* margin-left: 1.5rem; */
    font-family: "Poppins", sans-serif;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    font-size: 0.4rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.logout-button:hover {
    text-decoration: underline;
}

.active-link {
    background-color: #1d4189;
    color: #fff !important;
    font-weight: 600;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.footer {
    position: absolute;
    background-color: #1d4189;
    color: #ffffff;
    text-align: center;
    padding: 1rem 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}
.footer p {
    margin: 0;
}

.footer a {
    color: #ff9800;
    text-decoration: none;
    font-weight: 500;
}
.footer a:hover {
    text-decoration: underline;
}

.nav-link {
    color: #1d4189 !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 12px;
    /* min-width: 120px; */
    text-align: center;
}

.nav-link:hover {
    text-decoration: underline !important;
    background: linear-gradient(180deg,var(--accent-color) 0%, rgba(255, 255, 255, 0) 100%);
    color: var(--primary-color) !important;
    font-weight: 600 !important;
}

.nav-link.active {
    background: linear-gradient(180deg,var(--primary-color) 0%, rgba(255, 255, 255, 0) 100%);
    color: var(--background-color) !important;
    font-weight: 700;
}

/* .anim-link:hover {
    background: transparent;
}

.anim-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.anim-link:hover::after {
    transform: scaleX(1);
    transform-origin: top left;
} */

.health-tip-banner {
    font-size: 1rem;
    font-weight: 500;
    background-color: #ffeb3b;
    min-height: 10vh;
    align-items: center;
    align-content: center;
}
.health-tip-banner strong {
    font-weight: 700;
}