.login-page {
  background-color: #f9fafb;
  background: radial-gradient(circle at top left, #F0F4F8, #D9E2EC);
}
.login-wrapper {
  height: calc(100vh - 60px);
  display: flex;
  background: radial-gradient(circle at top left, #F0F4F8, #D9E2EC);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
}

/* Left side with image and overlay */
.login-left {
  flex: 1.5;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  padding: 40px 0;
}

.image-container {
  position: relative;
  width: 90%;
  /* max-width: 500px; */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.login-logo {
  width: 60px;
  margin-bottom: 12px;
  display: none;
}

.image-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  color: white;
  text-align: left;
}


.image-overlay h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 6px;
  color: var(--primary-color);
  text-shadow: 1px 1px 4px rgba(217, 217, 217, 0.75);
}

.image-overlay p {
  font-size: 16px;
  line-height: 1.3;
  color: var(--secondary-color);
  text-shadow: 1px 1px 4px rgba(217, 217, 217, 0.75);
}

.image-overlay img {
  width: 150px;
  margin-top: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Right side with login form */
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-card {
  background: #ffffff;
  border-radius: 16px;
  width: 100%;
  /* max-width: 380px; */
  padding: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: #1F2937;
}

.login-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #003366;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #CBD5E0;
  border-radius: 8px;
  font-size: 16px;
  color: #1F2937;
}

.login-card input::placeholder {
  color: #9CA3AF;
}

.login-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #005A9C;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-card button:hover {
  background-color: #003366;
}

.error {
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 10px;
}

/* Responsive: stack on smaller screens */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
  }
  
  .login-left, .login-right {
    flex: none;
    width: 100%;
    padding: 20px;
  }
  
  .image-container {
    max-width: 100%;
    height: 250px;
  }
}
