name: Run PHPUnit

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, intl, pdo_sqlite
          ini-values: post_max_size=256M, memory_limit=1024M

      - name: Setup Composer
        uses: php-actions/composer@v6
        with:
          command: install

      - name: Copy .env
        run: cp .env.example .env

      - name: Generate app key
        run: php artisan key:generate

      - name: Configure SQLite Database
        run: |
          mkdir -p database
          touch database/database.sqlite
          php artisan migrate --force
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: database/database.sqlite

      - name: Run tests
        run: php artisan test --no-interaction --verbosity=normal